*{
    margin:0px;
}

html, body{
    height: 100%;
    margin:0px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

#container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 30px;
    margin: 0 auto;
    width: 100%;
    height: 1200px;
    
}

.bloco-1{
    height: 1150px;
    width: 650px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    margin-top: 13px;
    
}

.bloco-2{
    height: 520px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
    margin-top: 13px;
    box-shadow: 5px 8px black;
    border-radius: 12px;
}

/* .bloco-3{
    background-color: #ff9999;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
} */

#cabecalho{
    width: 100%;
    height:130px;
    border-bottom:3px solid black;
}

#cabecalho ul{
    text-align: center;
    margin-top:26px;
}

#cabecalho ul li{
    display: inline;
    animation: none;
    font-size: larger;
}

#cabecalho ul li a{
    text-decoration: none;
    padding: 18px;
    color: #696969;
}

#cabecalho ul li a:hover{
    padding: 17px;
    border: 1px black solid;
    color: black;
    transition: 0.3s;
    border-radius: 17px;
}


.posts-lateral a{
    text-decoration: none;
    color:#696969;
}

.posts-lateral a:hover{
    color:black;
    transition: .3s;
    font-weight: bolder;
}


#linkslaterais a{
    width:150px;
    display:block;
    text-decoration: none;
    padding-bottom: 10px;
    color:#696969;
}

#linkslaterais a:hover{
    color:black;
    transition: .3s;
    font-weight: bolder;
}

h1 {
    color: #696969;
    text-align: center;
    padding-top: 30px;
}

h1:hover{
    color:black;
}

/* Área "Jogos" */

#area-jogos{
    width: 100%;
    height: 150px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color:#696969;
}

#area-jogos h2{
    text-align: center;
    font-size: 50px;
    padding-top: 35px;
}

#jogos{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 650px;
    width: 100%;
    margin-top: 13px;
}

#jogos p{
    width: 300px;
}

#jogos img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

#bloco-1-jogos{
    height: 300px;
}

#bloco-2-jogos{
    height:300px;
}

#bloco-3-jogos{
    height:300px;
}

#bloco-4-jogos{
    height:300px;
}

#bloco-5-jogos{
    height:300px;
}

#bloco-6-jogos{
    height:300px;
}

#bloco-7-jogos{
    height: 200px;
    font-family: "Courier New", Courier, monospace;
    margin-top: 13px;
    align-self: flex-start;
    box-shadow: 5px 8px black;
    border-radius: 12px;
}

#bloco-7-jogos a{
    width:150px;
    display:block;
    text-decoration: none;
    padding-bottom: 10px;
    color:#696969;
}

#bloco-7-jogos a:hover{
    color:black;
    transition: .3s;
    font-weight: bolder;
}



